h1,h2,h3 {
  font-weight: bold;
}

html, body {

  margin: 0;
  padding: 0;
}
body {
  background-color: #fbf2d5;
  font-size: 100%
}

pre {
  font-size: 20;
}

.container{

  position: fixed;
  width: 100%;
}
.naslov {
  background-color: #fdc57b;
  color: whitesmoke;
  
}

/* Style the tab */
.tab {
  top: 185px;
  width: 100%;
  position: fixed;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;

}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.sekvenca{
  background-color: lightgrey;
}

table, th, td {
  border: 1px solid black;
}

#left {
        width: 200px;
        position: fixed;
        top: 250;
        bottom: 0;
        left: 0;
        
    }
#right {
      margin-left: 200px;
      margin-top: 250px;
    }

#lol {
  
}